.container{
    width: 100%;
    padding: 2rem;
    
}
.figcaption .btn-1{
    position: absolute;
    top: 12rem;
    left: 11.5rem;

}

.figcaption .btn-2{
    position: absolute;
    left: 11.5rem;
}

.img-fluid1{
position: relative;
width: 249px;
height: 250px;
left: 3rem;
bottom: 0.5rem;
background: rgba(0, 0, 0, 0.5);
    
    
}
.img-fluid2{
    position: relative;
    width: 249px;
    height: 250px;
    left: 3rem;
    top: 1rem;
    margin-bottom: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
} 
.btn-1{
    background-color: rgb(61, 182, 136);
    border-radius: 0.5rem;
    width: 128px;
    height: 39px;
    top: 10rem;
    font-size: 1rem;
    color:white;
    
    
}
.btn-2{
    background-color: rgb(61, 182, 136);
    border-radius: 0.5rem;
    width: 128px;
    height: 39px;
    top: 35rem;
    font-size: 1rem;
    color:white;

    
}
.pic1{
    position: relative;
    margin-left: 50px;
    height: 28.612895965576172px;
    width: 28.612895965576172px;


}
.pic2{
    position: absolute;
    left: 16rem;
    height: 28.612895965576172px;
    width: 28.612895965576172px;
    
    
    
}
.pic3{
    position: absolute;
    left: 8rem;
    height: 28.612895965576172px;
    width: 28.612895965576172px;
}
.pic4{
    position: absolute;
    left: 16rem;
    height: 28.612895965576172px;
    width: 28.612895965576172px;
}

.text1{
    position: relative;
    left: 5.5rem;
    font-size: 14px;
    color: #505050;;
    font-weight: normal;
    bottom: 1.8rem;

}
.text2{
    position: relative;
    left: 14rem;
    font-size: 14px;
    color: #505050;
    font-weight: normal;
    
}
.text3{
    position: relative;
    left: 5.7rem;
    font-size: 14px;
    color: #505050;
    font-weight: normal;
}
.text4{
    position: relative;
    left: 13.8rem;
    font-size: 14px;
    color: #505050;
    font-weight: normal;
}
.color{
    color:white;
    top: 15rem;
}

